In [2]:
import pandas as pd
import pickle as pkl

In [3]:
SL_df = pd.read_csv("/work/magroup/kaileyhu/datasets/SynLethDB/Human_SL.csv")

In [5]:
set(SL_df['r.source'])

{'CRISPR/CRISPRi',
 'Computational Prediction',
 'Decipher',
 'Decipher;Computational Prediction',
 'Decipher;Text Mining',
 'Drug Screen',
 'GenomeRNAi',
 'GenomeRNAi;Decipher',
 'GenomeRNAi;Text Mining',
 'High Throughput',
 'High Throughput|Low Throughput',
 'Low Throughput',
 'RNAi Screen',
 'Synlethality',
 'Synlethality;Decipher',
 'Synlethality;GenomeRNAi',
 'Synlethality;Text Mining',
 'Text Mining',
 'Text Mining;Daisy',
 'Text Mining;Synlethality'}

In [26]:
top_fifth = SL_df.sort_values(by=['r.statistic_score'], ascending=False)

In [27]:
top_fifth = top_fifth[: int(len(top_fifth)/5 + 100)]

In [28]:
top_fifth.iloc[len(top_fifth)-2:]

,n1.name,n1.identifier,n2.name,n2.identifier,r.cell_line,r.pubmed_id,r.source,r.statistic_score
34873,EXOSC9,5393,RPL28,6158,Jurkat,31300006,CRISPR/CRISPRi,0.85
34799,EXOSC9,5393,TUBGCP3,10426,K562;Jurkat,31300006,CRISPR/CRISPRi,0.85

In [10]:
res_pairs = []
for i in range(len(top_fifth)):
    row = SL_df.iloc[i]
    g1 = row["n1.name"]
    g2 = row["n2.name"]
    res_pairs.append((g1, g2))

In [11]:
with open ("/work/magroup/kaileyhu/datasets/SynLethDB/human_SL_top_fifth.pkl", "wb") as f:
    pkl.dump(res_pairs, f)

In [20]:
with open ("/work/magroup/kaileyhu/datasets/SynLethDB/human_SL_brca_parp.pkl", "wb") as f:
    pkl.dump([("BRCA1", "PARP1"), ("BRCA1", "PARP2"), ("BRCA2", "PARP1"), ("BRCA2", "PARP2")], f)

In [21]:
ensembl_path = "/work/magroup/kaileyhu/Geneformer/geneformer/ensembl_mapping_dict_gc95M.pkl"

def invert_dict(dict_obj):
    return {v: k for k, v in dict_obj.items()}

with open(ensembl_path, "rb") as f:
    id_gene_dict = pkl.load(f)

In [23]:
res_pairs_ensembl = []
to_save = [("BRCA1", "PARP1"), ("BRCA1", "PARP2"), ("BRCA2", "PARP1"), ("BRCA2", "PARP2")]

for i in to_save:
    (g1, g2) = i
    g1 = id_gene_dict[g1]
    g2 = id_gene_dict[g2]
    res_pairs_ensembl.append((g1, g2))

In [25]:
with open ("/work/magroup/kaileyhu/datasets/SynLethDB/human_SL_brca_parp_ENSEMBL.pkl", "wb") as f:
    pkl.dump(res_pairs_ensembl, f)

In [ ]:
res_pairs_ensembl = []
for i in range(len(top_fifth)):
    row = SL_df.iloc[i]
    try: 
        g1 = id_gene_dict[row["n1.name"]]
        g2 = id_gene_dict[row["n2.name"]]
        res_pairs_ensembl.append((g1, g2))
    except:
        print(f"Pair {row} not found")

In [14]:
with open ("/work/magroup/kaileyhu/datasets/SynLethDB/human_SL_top_fifth_ENSEMBL.pkl", "wb") as f:
    pkl.dump(res_pairs_ensembl, f)

In [24]:
all_genes = []
for i in range(len(SL_df)):
    row = SL_df.iloc[i]
    try: 
        g1 = id_gene_dict[row["n1.name"]]
        g2 = id_gene_dict[row["n2.name"]]
        all_genes.append(g1)
        all_genes.append(g2)
    except:
        continue

all_genes = list(set(all_genes))

In [30]:
with open ("/work/magroup/kaileyhu/res/viable_files/Human_SL_genes.pkl", "wb") as f:
    pkl.dump(all_genes, f)

In [21]:
pair_dict = {}
for i in range(len(SL_df)):
    row = SL_df.iloc[i]
    g1 = row["n1.name"]
    g2 = row["n2.name"]
    if g1 not in pair_dict:
        pair_dict[g1] = [g2]
    else:
        if g2 not in pair_dict[g1]:
            pair_dict[g1].append(g2)

    if g2 not in pair_dict:
        pair_dict[g2] = [g1]
    else:
        if g1 not in pair_dict[g2]:
            pair_dict[g2].append(g1)

### also get the non-SL pairs

In [2]:
non_SL_df = pd.read_csv("/work/magroup/kaileyhu/datasets/SynLethDB/Human_nonSL.csv")

In [3]:
all_genes = []
for i in range(len(non_SL_df)):
    row = non_SL_df.iloc[i]
    try: 
        g1 = id_gene_dict[row["n1.name"]]
        g2 = id_gene_dict[row["n2.name"]]
        all_genes.append(g1)
        all_genes.append(g2)
    except:
        continue

all_genes = list(set(all_genes))

In [9]:
with open ("/work/magroup/kaileyhu/res/viable_files/Human_nonSL_genes.pkl", "wb") as f:
    pkl.dump(all_genes, f)

In [10]:
bottom_fifth = non_SL_df.sort_values(by=['r.statistic_score'], ascending=True)

In [11]:
bottom_fifth = bottom_fifth[: int(len(bottom_fifth)/5)]

In [4]:
res_pairs = []
for i in range(len(non_SL_df)):
    row = non_SL_df.iloc[i]
    g1 = row["n1.name"]
    g2 = row["n2.name"]
    res_pairs.append((g1, g2))

In [5]:
len(res_pairs)

2899

In [8]:
with open ("/work/magroup/kaileyhu/datasets/SynLethDB/human_nonSL_bottom_fifth.pkl", "wb") as f:
    pkl.dump(res_pairs, f)

In [16]:
res_pairs_ensembl = []
not_found = 0
for i in range(len(non_SL_df)):
    row = non_SL_df.iloc[i]
    try: 
        g1 = id_gene_dict[row["n1.name"]]
        g2 = id_gene_dict[row["n2.name"]]
        res_pairs_ensembl.append((g1, g2))
    except:
        not_found += 1

In [18]:
with open ("/work/magroup/kaileyhu/datasets/SynLethDB/human_nonSL_ENSEMBL.pkl", "wb") as f:
    pkl.dump(res_pairs_ensembl, f)

In [6]:
pair_dict = {}
for i in range(len(non_SL_df)):
    row = non_SL_df.iloc[i]
    g1 = row["n1.name"]
    g2 = row["n2.name"]
    if g1 not in pair_dict:
        pair_dict[g1] = [g2]
    else:
        if g2 not in pair_dict[g1]:
            pair_dict[g1].append(g2)

    if g2 not in pair_dict:
        pair_dict[g2] = [g1]
    else:
        if g1 not in pair_dict[g2]:
            pair_dict[g2].append(g1)

In [12]:
with open ("/work/magroup/kaileyhu/datasets/SynLethDB/Human_nonSL_pairs.pkl", "wb") as f:
    pkl.dump(pair_dict, f)

In [19]:
via = pd.read_csv("/work/magroup/kaileyhu/datasets/depmap/CRISPRGeneEffectProcessed.csv")

In [20]:
via

,Unnamed: 0,A1BG (1),A1CF (29974),A2M (2),A2ML1 (144568),A3GALT2 (127550),A4GALT (53947),A4GNT (51146),AAAS (8086),AACS (65985),...,ZWILCH (55055),ZWINT (11130),ZXDA (7789),ZXDB (158586),ZXDC (79364),ZYG11A (440590),ZYG11B (79699),ZYX (7791),ZZEF1 (23140),ZZZ3 (26009)
0,ACH-000001,-0.122637,0.025881,0.034217,-0.128082,-0.031285,0.338046,-0.006439,-0.093642,0.189186,...,-0.131727,-0.039829,0.179405,0.283552,0.204513,-0.289724,-0.062972,0.074180,0.111244,-0.467908
1,ACH-000004,0.019756,-0.083640,-0.060118,-0.027417,-0.036116,-0.001056,0.312876,-0.086897,0.204434,...,-0.170329,-0.454263,0.194583,0.098989,0.126948,0.032983,-0.410392,0.113156,0.234388,-0.088306
2,ACH-000005,-0.107208,-0.023211,0.200204,0.116039,-0.172227,-0.071294,0.203270,-0.127806,-0.090981,...,-0.301695,-0.454969,-0.061959,-0.036427,0.016602,-0.201273,-0.178877,-0.055349,-0.002161,-0.186842
3,ACH-000007,-0.031027,-0.137850,0.067704,0.107988,0.007992,0.124945,0.049548,-0.220824,-0.165669,...,-0.303390,-0.507272,-0.025400,0.236659,0.072010,-0.100344,-0.462160,-0.001555,-0.325964,-0.486660
4,ACH-000009,0.008888,-0.146566,0.084471,0.089419,0.065109,0.027841,0.087943,-0.161369,0.041121,...,-0.255466,-0.288739,-0.037132,0.261444,-0.062391,-0.112703,-0.598698,0.095877,-0.026742,-0.320759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1553,ACH-000046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1554,ACH-000830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1555,ACH-001578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1556,ACH-000750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1557,ACH-000285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN